@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Unbounded:400,900");
footer {
  height: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  flex-direction: column;
}
footer .footer-columns-container {
  display: flex;
  width: 100%;
}
footer .footer-columns-container .footer-left {
  flex: 1;
  padding: 2rem 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
footer .footer-columns-container .footer-left .title-icon {
  display: flex;
}
footer .footer-columns-container .footer-left .title-icon img {
  height: 3rem;
  margin-right: 1rem;
}
footer .footer-columns-container .footer-left button {
  border-radius: 0.5rem;
  color: #F4F4ED;
  border: solid 1px #F4F4ED;
  padding: 0.25rem 2rem;
  background-color: #181818;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-top: 1rem;
}
footer .footer-columns-container .footer-left button:hover {
  background-color: #F4F4ED;
  color: #181818;
}
footer .footer-columns-container .footer-right {
  flex: 1;
  padding: 2rem 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
footer .footer-columns-container .footer-right .title-icon {
  display: flex;
}
footer .footer-columns-container .footer-right .title-icon img {
  height: 3rem;
  margin-right: 1rem;
}
footer .footer-columns-container .footer-right button {
  border-radius: 0.5rem;
  color: #F4F4ED;
  border: solid 1px #F4F4ED;
  padding: 0.25rem 2rem;
  background-color: #181818;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-top: 1rem;
}
footer .footer-columns-container .footer-right button:hover {
  background-color: #F4F4ED;
  color: #181818;
}
footer .footer-bottom {
  width: 100%;
  margin-top: 4rem;
}
footer .footer-bottom p {
  font-size: 12px;
  color: rgb(156, 156, 156);
}

.faq-container {
  background-color: #F4F4ED;
  display: flex;
  flex-direction: row;
  padding: 5%;
  border-radius: 24px;
}
.faq-container .faq-container_right {
  flex: 1;
  padding-right: 2rem;
}
.faq-container .faq-container_right h3, .faq-container .faq-container_right p {
  color: #181818 !important;
}
.faq-container .faq-container_left {
  flex: 1;
  padding-left: 2rem;
}
.faq-container .faq-container_left .faq-section {
  margin: 1rem 0;
}
.faq-container .faq-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #181818;
  font-size: 20px;
}
.faq-container .faq-answer {
  color: rgb(73, 73, 73);
}
.faq-container .toggle-icon {
  margin-right: 8px; /* Space between icon and text */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

#hero-home {
  background-image: url("../assets/background.jpg");
}

#hero-c {
  background-image: url("../assets/background-c.jpg");
}

#hero-sn {
  background-image: url("../assets/background-sn.jpg");
}

#hero-s {
  background-image: url("../assets/background-s.jpg");
}

#hero-p {
  background-image: url("../assets/background-p.jpg");
}

.hero {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  border-radius: 0 0 24px 24px;
  padding: 0 5%;
}
.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.hero div h1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0;
  color: #F4F4ED;
  text-align: left;
}
.hero div p {
  font-size: 20px;
  text-align: left;
}

/* MEDIA QUERIES FOR LARGER SCREENS */
@media (min-width: 768px) { /* min es "desde" */
  .hero div {
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 5.5rem;
  }
}
.solutions-container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.solutions-container .solutions-container-title {
  text-align: center;
}
.solutions-container .solution-container {
  min-height: 12rem;
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.solutions-container .solution-container .solution-container-left {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.solutions-container .solution-container .solution-container-right {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solutions-container .solution-container .solution-container-right img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 400px;
}
@media (min-width: 1024px) {
  .solutions-container .solution-container {
    flex-direction: row;
  }
}

.solution-btn {
  border: 0;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  background-color: #b1b1b1;
}

.solution-btn:hover {
  background-color: #cccccc;
}

.solutions-grid-container {
  padding: 5%;
}
.solutions-grid-container .solutions-grid-container_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.solutions-grid-container .solutions-grid-container_title p {
  width: 70%;
}
.solutions-grid-container .solutions-grid {
  display: grid;
  padding: 2rem 0;
  gap: 2rem;
  grid-template-columns: 1fr;
  /* Media Queries for responsiveness */
}
.solutions-grid-container .solutions-grid .grid-solution {
  flex: 1;
  min-height: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: all ease 0.5s;
  border: solid 1px transparent;
}
.solutions-grid-container .solutions-grid .grid-solution:hover {
  border: solid 1px #F4F4ED;
}
.solutions-grid-container .solutions-grid .grid-solution button {
  border-radius: 0.5rem;
  color: #F4F4ED;
  border: solid 1px #F4F4ED;
  padding: 0.25rem 2rem;
  background-color: #181818;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-top: 1rem;
}
.solutions-grid-container .solutions-grid .grid-solution button:hover {
  background-color: #F4F4ED;
  color: #181818;
}
.solutions-grid-container .solutions-grid .grid-solution .title-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.solutions-grid-container .solutions-grid .grid-solution .title-icon h3 {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}
.solutions-grid-container .solutions-grid .grid-solution .title-icon img {
  height: 2.5rem;
  margin-right: 0.5rem;
}
.solutions-grid-container .solutions-grid .grid-solution p {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .solutions-grid-container .solutions-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}
@media (min-width: 1024px) {
  .solutions-grid-container .solutions-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }
}

.companies-logos-container {
  padding: 5%;
  display: flex;
}
.companies-logos-container .companies-logos_left {
  flex: 1;
  margin-right: 2rem;
  padding: 1rem;
}
.companies-logos-container .companies-logos_right {
  flex: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.companies-logos-container .companies-logos_right div {
  width: auto;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}

.work-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 5% 5% 5%;
}
.work-container .work-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.work-container .work-title p {
  width: 70%;
}
.work-container .work-grid {
  display: grid;
  grid-template-columns: 1fr; /* Create 2 columns of equal width */
  max-width: 100%;
  gap: 2rem;
  padding: 2rem 0;
}
.work-container .work-grid .work {
  max-height: 50vh;
  position: relative; /* This is necessary for the aspect-ratio container */
  overflow: hidden; /* Ensures the image won't overflow */
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 0.5rem;
  padding: 2rem;
  border: solid 1px transparent;
  border-radius: 1rem;
}
.work-container .work-grid .work:hover {
  scale: 0.95;
  border: solid 1px white;
}
.work-container .work-grid .work h3 {
  text-align: start;
  margin-top: 1rem;
}
.work-container .work-grid .work img {
  max-height: 70%;
  object-fit: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
  max-width: 100%;
  border-radius: 1rem;
  border: solid 1px transparent;
}
.work-container .work-grid .work p {
  color: grey;
}
@media (min-width: 1024px) {
  .work-container .work-grid {
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns of equal width */
  }
}

html,
body,
* {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
  box-sizing: border-box;
}

body {
  color: #F4F4ED;
  background-color: #181818 !important;
  font-family: "Unbounded", sans-serif;
}

main {
  background-color: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Unbounded, sans-serif;
  color: #F4F4ED !important; /* bootstrap está cambiando los colores*/
}

h2 {
  font-size: 2rem;
}

p,
button {
  font-family: Helvetica, sans-serif;
  color: #F4F4ED;
}

footer img#logo {
  width: 6rem;
}

header {
  background-color: #181818;
}

.navbar {
  padding: 0.5rem 2rem !important;
  background-color: black !important;
  color: #F4F4ED !important;
  border-bottom: 2px solid rgb(100, 100, 100);
}
.navbar a, .navbar span {
  color: #F4F4ED !important;
}
.navbar .navbar-brand img {
  height: 2rem;
}
.navbar .navbar-brand:hover {
  scale: 0.95;
}
.navbar .navbar-toggler {
  background-color: #F4F4ED !important;
}
.navbar .navbar-toggler:hover {
  background-color: rgb(214, 214, 214) !important;
  scale: 0.95;
}

/*# sourceMappingURL=styles.css.map */
