@charset "UTF-8";
footer {
  height: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #181818;
  flex-direction: column;
}
footer .footer-columns-container {
  display: flex;
  width: 100%;
}
footer .footer-columns-container .footer-left {
  flex: 1;
  padding: 2rem 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
footer .footer-columns-container .footer-left .title-icon {
  display: flex;
}
footer .footer-columns-container .footer-left .title-icon img {
  height: 3rem;
  margin-right: 1rem;
}
footer .footer-columns-container .footer-left button {
  border-radius: 0.5rem;
  color: #F4F4ED;
  border: solid 1px #F4F4ED;
  padding: 0.25rem 2rem;
  background-color: #181818;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-top: 1rem;
}
footer .footer-columns-container .footer-left button:hover {
  background-color: #F4F4ED;
  color: #181818;
}
footer .footer-columns-container .footer-right {
  flex: 1;
  padding: 2rem 0;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
footer .footer-columns-container .footer-right .title-icon {
  display: flex;
}
footer .footer-columns-container .footer-right .title-icon img {
  height: 3rem;
  margin-right: 1rem;
}
footer .footer-columns-container .footer-right button {
  border-radius: 0.5rem;
  color: #F4F4ED;
  border: solid 1px #F4F4ED;
  padding: 0.25rem 2rem;
  background-color: #181818;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-top: 1rem;
}
footer .footer-columns-container .footer-right button:hover {
  background-color: #F4F4ED;
  color: #181818;
}
footer .footer-bottom {
  width: 100%;
  margin-top: 4rem;
}
footer .footer-bottom p {
  font-size: 12px;
  color: rgb(156, 156, 156);
}

.faq-container {
  background-color: #F4F4ED;
  display: flex;
  flex-direction: row;
  padding: 5%;
  border-radius: 24px;
}
.faq-container .faq-container_right {
  flex: 1;
  padding-right: 2rem;
}
.faq-container .faq-container_right h3, .faq-container .faq-container_right p {
  color: #181818 !important;
}
.faq-container .faq-container_left {
  flex: 1;
  padding-left: 2rem;
}
.faq-container .faq-container_left .faq-section {
  margin: 1rem 0;
}
.faq-container .faq-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #181818;
  font-size: 20px;
}
.faq-container .faq-answer {
  color: rgb(73, 73, 73);
}
.faq-container .toggle-icon {
  margin-right: 8px; /* Space between icon and text */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.solutions-container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.solutions-container .solutions-container-title {
  text-align: center;
}
.solutions-container .solution-container {
  min-height: 12rem;
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.solutions-container .solution-container .solution-container-left {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}
.solutions-container .solution-container .solution-container-right {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solutions-container .solution-container .solution-container-right img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 400px;
}
@media (min-width: 1024px) {
  .solutions-container .solution-container {
    flex-direction: row;
  }
}

.solution-btn {
  border: 0;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  background-color: #b1b1b1;
}

.solution-btn:hover {
  background-color: #cccccc;
}

html,
body,
* {
  margin: 0;
  padding: 0;
}

main {
  background-color: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Unbounded, sans-serif;
  color: #F4F4ED !important; /* bootstrap está cambiando los colores*/
}

p,
button {
  font-family: Helvetica, sans-serif;
  color: #F4F4ED;
}

/*# sourceMappingURL=styles.css.map */
