@use 'variables';

.contact-container{
    height: auto;
    display: flex;
    align-items: center;
    padding: 5%;
    flex-direction: column;

    .contact-left{
        flex: 1;
        width: 100%;

        .map-container {
            position: relative;
            width: 100%; /* Full width */
            padding-bottom: 56.25%; /* Aspect ratio 16:9 */
            height: 0; /* Height based on padding */
            overflow: hidden; /* Hide overflow */
            min-height: 300px; /* Set a minimum height for the map */

        
            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              border: 0; /* No border */
              border-radius: 1rem;
            }
        }
    }
    .contact-right{
        flex: 1;
        width: 100%;
        min-height: 300px;
   
        align-content: center;

        button{
            border: 1px solid variables.get-color(infire-white) ;
            border-radius: 8px;
            background-color: variables.get-color(infire-black);
            padding: 0.3rem 2rem;
            margin-right: 1rem;

            &:hover{
                background-color: variables.get-color(infire-white);
                color: variables.get-color(infire-black);
                scale: 0.95;
            }
        }
    }
}

@media (min-width: 1024px) {
    .contact-container{
        flex-direction: row;

        .contact-left{
            padding: 2rem;

        }
        .contact-right{
            padding: 2rem;

        }
    }
}

