@use 'variables';

.faq-container{
    background-color: variables.get-color(infire-white);
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 24px;

    .faq-container_right{
        flex: 1;
        padding-right: 2rem;
        
        h3, p{
            color: variables.get-color(infire-black) !important;
        }
    }
    .faq-container_left{
        flex: 1;
        
        .faq-section{
            margin: 1rem 0;
        }

    }


    .faq-question {
        cursor: pointer;
        display: flex;
        align-items: center;
        color:  variables.get-color(infire-black);
        font-size: 20px;
    }

    .faq-answer{
        color: rgb(73, 73, 73);
    }

    .toggle-icon {
        margin-right: 8px; /* Space between icon and text */
        transition: transform 0.3s ease; /* Smooth transition for rotation */
    }
}

@media (min-width: 1024px) {

    .faq-container{
        flex-direction: row;
        .faq-container_left{
            padding-left: 2rem;

            

        }

    }

    
}