@use 'variables';

// Mixin for shared styles
@mixin column-styles {
    flex: 1;
    padding: 2rem 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  
    .title-icon {
      display: flex;
  
      img {
        height: 3rem;
        margin-right: 1rem;
      }
    }
  
    button {
      border-radius: 0.5rem;
      color: variables.get-color(infire-white);
      border: solid 1px variables.get-color(infire-white);
      padding: 0.25rem 2rem;
      background-color: variables.get-color(infire-black);
      transition: color 0.3s ease, background-color 0.3s ease;
      margin-top: 1rem;
  
      &:hover {
        background-color: variables.get-color(infire-white);
        color: variables.get-color(infire-black);
      }
    }
  }
  
  footer {
    height: auto; // Adjusted to ensure height is dynamic
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: variables.get-color(infire-black);
    flex-direction: column;
  
    .footer-columns-container {
      display: flex;
      width: 100%;
  
      .footer-left {
        @include column-styles; // Include shared styles
      }
  
      .footer-right {
        @include column-styles; // Include shared styles
      }
    }
  
    .footer-bottom {
      width: 100%;
      margin-top: 4rem;
  
      p {
        font-size: 12px;
        color: rgb(156, 156, 156);
      }
    }
  }
  