@use 'footer';
@use 'faq';
@use 'variables';
@use './hero';
@use './home/solutions';
@use './home/grid';
@use 'companies-logos';
@use 'work';





html,
body,
* {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;
  box-sizing: border-box;

}

body{
  color: whitesmoke;
  background-color: variables.get-color(infire-black);

  font-family: 'Unbounded', sans-serif;
}

main{
  background-color: variables.get-color(infire-black);
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Unbounded, sans-serif;
  color:  variables.get-color(infire-white) !important; /* bootstrap está cambiando los colores*/
}

p,
button {
  font-family: Helvetica, sans-serif;
  color:  variables.get-color(infire-white);
}

.navbar{
  padding: 0.5rem 2rem !important;
  background-color: black !important;
  color: variables.get-color(infire-white) !important;

  a, span{
    color: variables.get-color(infire-white) !important;
  }

  .navbar-brand{
    img{
      height: 2rem;
    }
  }

  .navbar-toggler{
    background-color: variables.get-color(infire-white) !important;
  }
}

