@use 'footer';
@use 'faq';
@use 'variables';
@use './hero';
@use './home/solutions';
@use './home/grid';



html,
body,
* {
  margin: 0;
  padding: 0;
  transition: all ease 0.5s;

}

main{
  background-color: variables.get-color(infire-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Unbounded, sans-serif;
  color:  variables.get-color(infire-white) !important; /* bootstrap está cambiando los colores*/
}

p,
button {
  font-family: Helvetica, sans-serif;
  color:  variables.get-color(infire-white);
}


