@import url('https://fonts.googleapis.com/css?family=Unbounded:400,900');


html, body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #191919;
    color: whitesmoke;
    font-family: 'Unbounded', sans-serif;

}

h1, h2, h3, h4, h5, h6{
    font-family: Unbounded, sans-serif;
    color: whitesmoke !important; /* bootstrap está cambiando los colores*/
}

h2{
    font-size: 2rem;
}

p, button{
    font-family: Helvetica, sans-serif;
    color: whitesmoke;

}

/* NAVBAR */
nav {
    height: 50px;
    background-color: rgba(18, 15, 10, 0.162);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
}

#nav-right {
    width: 80%;
    padding-right: 5%;
    display: flex;
    height: 100%;
    align-items: center;
}

nav div ul {
    justify-content: space-between;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    align-items: center;
    width: 100%;
}

nav div ul a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: Unbounded;
    font-size: 14px; }

nav div ul li {
    height: 100%;
    border: none;
   
}

nav div ul li:hover {
    background-color: rgba(255, 255, 255, 0.202);
}

#nav-left {
    width: 15%;
    padding-left: 5%;
}

#logo {
    max-width: 70px;
}
#logo:hover {
    transform: scale(1.1);
}


/* HERO */
.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero div{
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    align-items: flex-start;


}


#hero-home{
    background-image: url("./assets/background.jpg");
}
#hero-c{
    background-image: url("./assets/background-c.jpg");
}
#hero-sn{
    background-image: url("./assets/background-sn.jpg");
}
#hero-s{
    background-image: url("./assets/background-s.jpg");
}
#hero-p{
    background-image: url("./assets/background-p.jpg");
}


h1{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1;
    margin: 0;
    color: rgba(255, 255, 255, 0.804);
}

p{
    font-size: 16px;
}

/* FOOTER */

footer{
    height: 150px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #030303;
    flex-direction: column;
}

footer p{
    font-size: 12px;
}

/* SOLUTIONS */
.solutions-container{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    background-color: black;
}

.solutions-container-title{
    text-align: center;
}

.solution-container{
    min-height: 12rem;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;

}

.solution-container-left{
    flex-basis: 100%; 
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.solution-container-right{
    flex-basis: 100%; 
    max-width: 100%;

    display: flex; 
    align-items: center; 
    justify-content: center;

}


.solution-container-right img{
    max-width: 100%;
    height: auto; 
    object-fit: contain; 
    max-height: 400px;
}

.solution-btn{
    border: 0;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    background-color: #b1b1b1;
}

.solution-btn:hover{
    background-color: #cccccc;
}

/* MEDIA QUERIES FOR LARGER SCREENS */


@media (min-width: 768px){ /* min es "desde" */
    .hero div{
        max-width: 50%;
    }
}

@media (min-width: 1024px){ 
    h1{
        font-size: 5.5rem;
    }

    .solution-container {
        flex-direction: row; 
    }

    .solution-container-right{
        flex-basis: 50%;
        max-width: 50%;


    }

    .solution-container-left{
        flex-basis: 50%;
        max-width: 50%;

        align-items: left !important;

      
    }
}