@use "../variables";

.solutions-grid-container {
  padding: 5%;

  .solutions-grid-container_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .solutions-grid {
    display: grid;
    padding: 2rem 0;
    gap: 2rem;
    grid-template-columns: 1fr;

    .grid-solution {
      flex: 1;
      min-height: 5rem;
      padding: 2rem;
      border-radius: 1rem;
      transition: all ease 0.5s;

      &:hover {
        border: solid 1px variables.get-color(infire-white);
      }

      button {
        border-radius: 0.5rem;
        color: variables.get-color(infire-white);
        border: solid 1px variables.get-color(infire-white);
        padding: 0.25rem 2rem;
        background-color: variables.get-color(infire-black);
        transition: color 0.3s ease, background-color 0.3s ease;
        margin-top: 1rem;

        &:hover {
          background-color: variables.get-color(infire-white);
          color: variables.get-color(infire-black);
        }
      }

      .title-icon {
        display: flex;
        align-items: center;
        gap: 1rem;

        h3 {
          font-size: 20px;
          font-weight: lighter;
          margin: 0;
        }

        img {
          height: 2.5rem;
          margin-right: 0.5rem;
        }
      }

      p {
        margin-top: 1rem;
      }
    }

    /* Media Queries for responsiveness */
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
    }
  }
}
